<h1>{{title}}</h1>
<div class="form">
  <h3>Ingrese el numero secreto</h3>
  <input id="set-secret__input" type="number" [(ngModel)]="number">
  <button id="set-secret__button" (click)="setSecret()">Set Secret</button>
  <p id="response-set-secret">{{response}}</p>
</div>

<div class="form">
  <h3>Adivine el numero</h3>
  <input id="set-guess__input" type="number" [(ngModel)]="guess">
  <button id="set-guess__button" (click)="checkGuess()">Probar</button>
  <p id="response-guess">{{guessResponse}}</p>
</div>