<div class="container">
  <h1 class="title animated fadeIn faster">{{title}}</h1>
  <div class="form animated fadeIn">
    <h2>Try to guess</h2>
    <input id="form__input" type="number" #input>
    <button class="form__button" (click)="checkGuess(input)" [disabled]="guessedNumber">Try to guess</button>
    <h2 id="response">{{response}}</h2>
  </div>
  <div class="results">
    <h1 class="animated fadeIn">Results</h1>
    <ul class="results-list">
      <li class="animated zoomInDown faster" *ngFor="let result of results">
        <h3>{{result.guess}} - {{result.response}}</h3>
      </li>
    </ul>
  </div>
  <div *ngIf="guessedNumber" class="animated zoomInDown won">
    <h1>{{message}}</h1>
    <button (click)="playAgain()">Play again</button>
  </div>
</div>